.MENU-CONTAINER {
  --color-one: #253E41;
  --color-two: #B0D0D3;
  --color-three: #D5DFE0;
  --color-four: #FFFFFF;
  position: relative;
}
.MENU {
  height: min-content;
  background-color: var(--color-two);
  display: flex;
  gap: 2px;
}
.ICON {
  position: relative;
  height: 30px;
  width: 55px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: solid 3px var(--color-two);
  transition: width .5s,
              border-color .3s;
}
.ICON:hover,
.ICON.OPEN:hover {
  border-color: var(--color-three);
  transition: width .5s,
              border-color .3s;
}
.ICON div {
  background-color: var(--color-four);
  height: 3px;
  width: 25px;
  border-radius: 15px;
  position: absolute;
}
.ICON div:nth-child(1) {
  top: 0;
  bottom: 0;
  top: -60%;
  margin: auto;
  transition: top .4s,
              bottom .4s,
              transform .4s;
}
.ICON div:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: opacity .3s .1s;
}
.ICON div:nth-child(3) {
  top: 0;
  bottom: 0;
  bottom: -60%;
  margin: auto;
  transition: top .4s,
              bottom .4s,
              transform .4s;
}
.CATEGORY-CONTAINER {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  background-color: transparent;
  align-items: center;
  margin: 0px;
  font-size: 18px;
  color: var(--color-one);
  transition: border-color .6s,
              background-color .6s;
}
.CATEGORY-NAME {
  margin: 0px;
  user-select: none;
}
.MENU-LIST {
  display: grid;
  grid-auto-rows: max-content;
  border-radius: 10px;
  font-size: 16px;
  color: transparent;
  background-color: transparent;
}
.ITEM {
  background-color: transparent;
  transition: background-color 1s;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .MENU-CONTAINER {
    background-color: var(--color-two);
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    height: max-content;
  }
  .MENU {
    position: absolute;
    flex-direction: column;
    top: calc(100% + 7px);
    right: 0px;
    border: solid 7.5px var(--color-two);
    border-radius: 10px;
    opacity: 0%;
    visibility: hidden;
    transition: opacity .5s,
                visibility 0s .5s;
  }
  .CATEGORY-CONTAINER {
    position: relative;
    top: 100%;
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 7.5px;
    padding: 5px 10px;
    gap: 3px;
  }
  .CATEGORY-CONTAINER.TAB {
    padding: 5px 10px;
  }
  .CATEGORY-CONTAINER:hover {
    background-color: var(--color-three);
    cursor: pointer;
    transition: background-color .4s;
  }
  .MENU.OPEN {
    opacity: 100%;
    visibility: visible;
    transition: opacity .5s,
                visibility 0s;
  }
  .ICON.OPEN {
    width: 30px;
    transition: width .5s,
                border-color .3s;
  }
  .ICON.OPEN div:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    transition: top .4s,
              bottom .4s,
              transform .4s;
  }
  .ICON.OPEN div:nth-child(2) {
    opacity: 0%;
    transition: opacity .2s;
  }
  .ICON.OPEN div:nth-child(3) {
    transform: rotate(135deg);
    bottom: 0;
    transition: top .4s,
              bottom .4s,
              transform .4s;
  }
  .MENU-LIST {
    width: min-content;
    gap: 2px;
    width: 100%;
    color: var(--color-one);
  }
  .ITEM {
    border-radius: 5px;
    padding: 3px 7.5px;
  }
  .ITEM:hover {
    cursor: pointer;
    background-color: var(--color-four);
    transition: background-color .3s;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .MENU {
    flex-direction: row;
    display: flex;
    gap: 5px;
    padding: 0px 15px;
    /* border: solid 3px var(--color-two); */
    border-radius: 30px;
  }
  .ICON {
    display: none;
  }
  .CATEGORY-CONTAINER {
    padding: 7.5px 10px;
    flex-direction: row;
    width: max-content;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .CATEGORY-CONTAINER.TAB {
    border-radius: 10px;
  }
  .CATEGORY-NAME {
    /* padding: 3px 0px; */
  }
  .MENU-LIST {
    position: absolute;
    width: max-content;
    left: 0px;
    top: calc(100%);
    padding: 3px;
    gap: 2px;
    border-top-left-radius: 0px;
    overflow: hidden;
    transition: color .3s,
                background-color .4s,
                visibility .0s .4s;
  }
  .ITEM {
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    padding: 5px 10px;
    text-align: left;
    transition: background-color .6s;
  }
  .CATEGORY-CONTAINER:hover {
    background-color: var(--color-three);
    cursor: pointer;
    transition: background-color .4s;
  }
  .CATEGORY-CONTAINER:hover .MENU-LIST {
    color: var(--color-one);
    background-color: var(--color-three);
    visibility: visible;
    transition: color .3s,
                background-color .4s;
  }
  .CATEGORY-CONTAINER:hover .ITEM:hover {
    cursor: pointer;
    background-color: var(--color-four);
    transition: background-color .3s;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

